


 
 header{
    background-color: #D45151;
    padding: 10px;
 }
 nav{
    display: flex;
    justify-content: space-between;
 }
 nav a{
text-decoration: none;
font-size: 20px;
color: black;
 }
 .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }section{
    padding:20px 40px ;
 }

 p {
 font-size: 20px;
 }
 h1{
    font-size: 64px;
 }
h1,h2{
    text-align: center;
}
h2{
    font-size: 40px;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about {
     background-color: #8EA852;
}
.about p{
    width: 50%;
}
h3 {
    text-align: center;
    font-size: 40px;
}


.pizza-image {
    float: left; 
padding: 30px;
}

.pizza-image1 {
float: left;
padding: 30px;

}

.bottom-left{
    float: left;
    padding: 30px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}



nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.social {
    margin-top: 20px;
}

.social a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

footer {
    background-color: gray;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
